<!--link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html"-->


Access-Control-Allow-Origin: *
<dom-module id="gestor-clientes">
 <template>
   <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"-->
   <style>
     :host {
       display: block;
     }
   </style>

   <section class="container" hidden$="{{!logado}}">
      <!--div class="col-md-3"-->
         <div class="form-group">
           <label for="inputNombre">Nombre</label>
            <input type="text" class="form-control" id="inputNombre" placeholder="Escribe Primer Nombre" value="{{nombre::input}}" required>
         </div>
         <div class="form-group">
           <label for="inputApellido">Apellido</label>
           <input type="text" class="form-control" id="inputApellido"  placeholder="Escribe Apellido" value="{{apellido::input}}" required>
         </div>
         <div class="form-group">
           <label for="inputEmail1">Email</label>
           <input type="email" class="form-control" id="inputEmail1" placeholder="Escribe email" value="{{email::input}}" required>
         </div>
         <div class="form-group">
           <label for="inputPassword1">Contraseña</label>
           <input type="password" class="form-control" id="inputPassword1" placeholder="Password" value="{{password::input}}" required>
         </div>
      <!--/div-->
      <button on-click="insertarCliente" class="btn btn-sucess">Enviar</button>
      <button on-click="regresar" class="btn btn-sucess">Regresar</button>

     <iron-ajax
       id="doRegistro"
       url="http://localhost:3002/Registro"
       content-type="application/json"
       crossDomain: true
       dataType: 'jsonp'
       method = "POST"
       handle-as = "json"
       headers = "Access-Control-Allow-Headers: *"
       on-response="manageAJAXResponse"
       on-error = "showError">
     </iron-ajax>
   </section>
  </template>

 <script>
 /**
   * @customElement
   * @polymer
   */
  class GestorClientes extends Polymer.Element {
    static get is() { return 'gestor-clientes'; }
    static get properties() {
      return {
        email: {type: String},
        password: {type: String},
        nombre: {type: String},
        apellido: {type: String},
        clientes: {type: Array, notify: true},
        logado: {type: Boolean, notify:true}
      };
    }

    obtenerClientes(){
       var request = new XMLHttpRequest();
       //request.open('GET', "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
      request.open("GET","http://localhost:3002/Clientes", false);
      // request.setRequestHeader("Accept", "application/json");
       request.send();
       //  this.clientes = JSON.parse(request.responseText).value;
       this.clientes = JSON.parse(request.responseText);
       console.log(this.clientes);
     }

   insertarCliente(){
     var nuevoCliente = {"nombre": this.nombre,
                         "apellido": this.apellido,
                         "email": this.email,
                         "password": this.password};
     console.log(nuevoCliente);
     this.$.doRegistro.body = JSON.stringify(nuevoCliente);
     this.$.doRegistro.generateRequest();
     console.log("Petición de alta de cliente enviada");
  }

  manageAJAXResponse(){
    console.log("Respuesta recibida del servicio api rest de Nuevo Cliente");
    alert('Usuario ' +  this.nombre + ' ' + this.apellido + ' creado correctamente');
    this.logado = false;
  }

  showError(){
    console.log("Hubo un error en iron-ajax");
    this.logado = false;
  }
  regresar(){
    this.logado = false;
  }
 }
 window.customElements.define(GestorClientes.is, GestorClientes);
</script>
</dom-module>
