<!--link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html"-->
<link rel="import" href="../../src/gestor-clientes/gestor-clientes.html">

 Access-Control-Allow-Origin: *

<dom-module id="login-app">
  <template>
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"-->
    <style>
      :host {
        display: block;
        display: block;
        text-align: center;
      }

      .hello {
        align-items: center;
        margin-top: 16px;
        font-size: 50px;
        font-weight: 900;
        line-height: 1;
        }
    </style>

    <header>
      <div class="jumbotron">
        <div class="container">
          <h1> {{titulo}}</h1>
          <p> {{subtitulo}}</p>
        </div>
      </div>
    </header>

  <section class="container">
    <div class="row" hidden$="{{logado}}">
        <div class="col-md-3 col-md-offset-3 col-sm-12"><h1 class="hello">Inicia sesión</h1></div>

        <div class="col-md-4 col-md-offset-4 col-sm-12">

            <div class="form-group">
              <label for="exampleInputEmail1">Dirección de Email </label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" value="{{email::input}}" required>
            </div>
            <div class="form-group">
              <label id="pass" for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" value="{{password::input}}" required>
            </div>
              <button on-click="login" class="btn btn-sucess">Login</button>

            <br /><br /><br />
           <div class="account-status">
             <label  >¿Aún no estás registrado?
               <button on-click="registrate"><span >Regístrate</span></a>
             </label>
          </div>
        </div>

        <iron-ajax
          id="doLogin"
          url="http://localhost:3002/login"
          content-type="application/json"
          crossDomain: true
          dataType: 'jsonp'
          method = "POST"
          handle-as = "json"
          headers = "Access-Control-Allow-Headers: *"
          on-response="manageAJAXResponse"
          on-error = "showError">
        </iron-ajax>
      </div>

      <div class="row" hidden$={{!logado}}>
            <gestor-clientes logado="{{logado}}"></gestor-clientes>
      </div>

    </section>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          email: {type: String, value: ''},
          password: {type: String},
          titulo: {type: String},
          subtitulo: {type: String},
          logado: {type: Boolean, value: false}
        };
      }

      login(){
        //console.log('ya entre a funcion Login')
        var loginData = {
          "email" : this.email,
          "password" : this.password
        };
        console.log(loginData);
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Petición enviada");
        //console.log(this.$.pass.innerText);
      }

      manageAJAXResponse(e){
        const res = e.detail;
        console.log('response', res.status, res.statusText, res);
        console.log("Respuesta recibida del servicio api rest apimx20201");
        if(res.statusText == "Created" ){
          alert("El Usuario no existe, por favor registrate!!");
        } else {
            if(res.status == 202 ){
              alert("Contraseña incorrecta");
            }else{
              localStorage.setItem("usuarioactivo",this.email);
              window.location.href="../../Tienda.html";
         }
        }
      }

      showError(e){
        const err = e.detail.error;
        const req = e.detail.request;
        console.log("Hubo un error en iron-ajax");
        alert("Error al acceder a la base de datos," + req.statusText);
        console.log('error', req.status, req.statusText);
        //console.log(data.detail.response);
        this.logado = false;
      }

      registrate(){
        console.log("Inicio del registros de nuevo cliente");
        //console.log(data.detail.response);
        this.logado=true;
        this.titulo = "Tienda  AMAZING";
        this.subtitulo= "Registro de Clientes Nuevos";
      }

      constructor() {
              super();
            }

    }



    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
