<!--link rel="import" href="../../bower_components/polymer/polymer-element.html"-->
<!-- link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html" -->

<dom-module id="consulta-producto">
  <template>
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"-->

    <style>
      :host {
        display: block;
        text-align: center;
      }
      .a-color-price {
        color: #B12704!important;
      }
      .boton-selector{
        text-align: center;
      }

    </style>

      <div class="container" hidden$="{{!detalle}}" >
          <template is="dom-repeat" items="{{producto}}">
    				<div class="card col-sm-5 col-md-12 mr-5" style="width: 24rem;">
              <h4 class="card-header"> [[item.nombre]]</h4>
              <img src="/src/resources/img/[[item.idProducto]].png" alt="image" class="img-fluid" />
     					<div class="card-body" style="float: center;">
                <li> Fabricante: [[item.fabricante]]</li>
                <li> Condiciones: [[item.condicion]]</li>
                <li> Categoria: [[item.categoria]]</li>
                  <br />
     						<!--p class="card-text">[[item.descripcion]] </p-->
     						<p class="price" class>Precio:
                  <span id="precioventa" class="a-color-price">[[item.precio_unitario]] </span>
                  <span id="divisa" class="a-color-price"> MXN</span>
                </p>
     						<p class="card-text">Solo quedan: [[item.unidades_stock]] piezas</p>
                <!-- <a href="http://localhost:3002/Productos/[[item.idProducto]]" class="btn btn-primary">
                    <span class="glyphicon-info-sign glyphicon" /></span> Details
      						</a> -->
      				</div>
    				</div>
            <br /><br />

            <div >
    					<button id="botonrestador" class"boton-selector" size="1"type="button" on-click="resta">-</button>
              <input  id="inputpiezas" class"boton-selector" maxlength="4" type="text" size="1" value="{{piezas}}" style="text-align: center;" >
						  <button id="botonsumador" class"boton-selector" size="1" type="button" on-click="suma">+</button>
    				</div>
            <button type="button" on-click="regresar" value=>Regresar</button>
            <button type="button" on-click="cart">Agregar al  Carrito</button>
          </template>
    </div>
  </template>

  <script>
      class ConsultaProducto extends Polymer.Element {
        static get is() { return 'consulta-producto'; }
        static get properties() {
          return {
            itemp: {type: String, notify: true, observer:"productoChanged"},
            detalle: {type: Boolean, notify: true},
            producto: {type:Array, notify: true},
            piezas: {type: Number, value:1},
            subtitulo: {type: String, notify:true},
            pedido: {type:Array, notify: true, value: function(){return[];}},
            total: {type: Number, notify: true, value: 0},
            totalpiezas: {type: Number, notify: true, value: 0}
          };
        }


         obtenerProducto(){
           var request = new XMLHttpRequest();
           console.log('Recupera producto de base de datos: ' + this.itemp);
           request.open("GET","http://localhost:3002/Productos/" + this.itemp, false);
           request.send();
           this.producto = JSON.parse(request.responseText);
           //console.log(this.producto[0]);
          }

          regresar(){
            this.detalle = false;
            this.subtitulo = "Ofertas de la Temporada";
          }

          suma(){
              if (this.piezas < 5){
                this.piezas = this.piezas+1;
              }else{
                alert('Sólo te podemos vender hasta 5 piezas');
              }

          }

          resta(){
            if (this.piezas > 1){
              this.piezas = this.piezas-1;
            }
          }

          productoChanged(){
            this.obtenerProducto();
            this.piezas=1;
          }

          cart(){
            //console.log(this.$.precioventa);
              var codeObj = {
                  "idProducto": this.itemp,
                  "nombre": this.producto[0].nombre,
                  "piezas": this.piezas,
                  "precio": this.producto[0].precio_unitario
                }
            this.push('pedido',codeObj);
            this.total = this.total + (Number.parseFloat(this.producto[0].precio_unitario) * this.piezas);
            this.totalpiezas = this.totalpiezas + this.piezas
            //console.log(JSON.stringify(this.pedido));
            alert('Hemos agregado a tu carrito el producto: ' + this.itemp);
            this.regresar();
          }

          constructor() {
                  super();
                }

     }
     window.customElements.define(ConsultaProducto.is, ConsultaProducto);
  </script>
</dom-module>
