crossDomain: true
<!--link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" -->
<link rel="import" href="/src/gestor-productos/consulta-producto.html">

 Access-Control-Allow-Origin: *

<dom-module id="gestor-productos">
  <template>
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"-->

    <style>
      :host {
        display: block;
        margin:0;
        padding:0;
        font-family: arial;
        box-sizing: border-box;
      }

    input{
      float: center;
    }


    .menu{
      width: 100%;
      height: 50px;
      display: flex;
      perspective: 200px;
    }

    nav{
      width: 100%;
      height: 50px;
      background: #0080FF;
    }

    .menu ul{
      display: flex;
      margin: auto;
    }

    .menu li{
      list-style: none;
      padding: 15px 20px;
    }

  .menu li:hover{
    background: rgba(0,0,0,0.3);
    color: white;
    cursor: pointer;
    transition: all 300ms;
  }

    .menu ul li ul{
      *display: none;
      flex-direction:row;
      position: absolute;
      background: #58b813;
      margin-top: 15px;
      transform:rotateY(240deg) scale(0);
      transition: all 1s;
      box-shadow: 1px 1px 10px 0px black;
    }

  .menu ul li:hover > ul{
    transform: rotateY(0deg) scale(1);
    transition: all 1s;
  }

  .menu ul li ul::before{
    content: '';
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 8px solid #58b813;
    position: absolute;
    margin-top: -8px;
    margin-left: : 20px;
  }

    </style>

    <header>
      <div class="jumbotron">
        <!--div class="container"-->
          <h1> {{titulo}}</h1>
          <p> {{subtitulo}}</p>
          <h4 style="text-align: left;">Hola! {{nombre}}
          </h4>
        <!--/div-->

      <nav class="menu">
          <ul>
            <li on-Click="regresar">Home</li>
            <li hidden$="{{detalle}}">Cuenta
              <ul>
                <li on-Click="listaPedidos">Pedidos</li>
                <li>Direcciones</li>
                <li>Tipos de pago</li>
              </ul>
            </li>
            <li hidden$="{{detalle}}">Administrador
              <ul>
                <li>Clientes</li>
                <li>Productos</li>
              </ul>
            </li>
            <li>Acerca de</li>
          </ul>
      </nav>
      </div>
    </header>



     <section class="container-fluid">
    		<div class="row" hidden$="{{detalle}}">

          <iron-ajax
            auto
            id="doProductos"
            url="http://localhost:3002/Productos"
            content-type="application/json"
            dataType: 'jsonp'
            method = "GET"
            handle-as = "json"
            headers = "Access-Control-Allow-Headers: *"
            last-response="{{productos}}"
            on-error = "showError"></iron-ajax>

          <iron-ajax
            id="doPedido"
            url="http://localhost:3002/Pedido"
            content-type="application/json"
            dataType: 'jsonp'
            method = "POST"
            handle-as = "json"
            headers = "Access-Control-Allow-Headers: *"
            on-response="manageAJAXResponse"
            on-error = "showError"></iron-ajax>

          <iron-ajax
            id="doHistorial"
            url="http://localhost:3002/Pedido/{{email}}"
            content-type="application/json"
            dataType: 'jsonp'
            method = "GET"
            handle-as = "json"
            headers = "Access-Control-Allow-Headers: *"
            last-response="{{historial}}"
            on-error = "showError"></iron-ajax>

          <!-- [[obtenerProductos()]] -->
          <template is="dom-repeat" items="{{productos}}">
    				<div class="card col-sm-6 col-md-2 mr-2" style="width: 36rem;">
      				<img src="/src/resources/img/[[item.idProducto]].png" alt="image" class="img-fluid" />

     					<div class="card-body">
     						<h5 class="card-title" > [[item.nombre]]</h5>
     						<p class="card-text">[[item.descripcion]] </p>
     						<p class="card-text">[[item.precio_unitario]] MXN</p>
     						<p class="card-text">Disponible [[item.unidades_stock]] unidades en stock</p>

                <!--<a href="#" class="btn btn-warning btn-large" on-click="veProducto('[[item.idProducto]]')"> Details </a> -->

                 <input type="button" name="[[item.idProducto]]" on-click="veproducto" value="Detalle" style="float: center;">

    					</div>
  				  </div>
  			  </template>

          <div class="card col-sm-6 col-md-4" style="width: 30%;">
           <h5  style="text-align: right;"> Articulos en tu lista </h5>
           <table class="table table-striped">
             <tbody>
               <template is="dom-repeat" items="{{pedido}}">
                 <tr>
                   <td> [[item.nombre]]</td>
                   <td> [[item.piezas]] Pza(s)</td>
                   <td> [[item.precio]] MXN</td>
                   <td> <img src="/src/resources/img/[[item.idProducto]].png" alt="image" style="max-width:50px;width:auto;height:auto;" /></td>
                </tr>
               </template>
            </tbody>
            <tfoot>
              <tr>
                <td>Total:</td>
                <td>{{totalpiezas}} Pza(s)</td>
                <td>{{total}} MXN</td>
              </tr>
            </tfoot>
           </table>
            <div class="card-footer text-center">

              <input type="button" name="vacialista" on-click="vaciarLista" value="Vaciar Lista">
               <input type="button" name="comprar" on-click="generaCompra" value="Comprar">
            </div>
          </div>
    		</div>

          <div class="row" hidden$={{!detalle}}>
             <div  hidden$={{menupedidos}}>
                <consulta-producto itemp="{{itemp}}" detalle="{{detalle}}" total="{{total}}" totalpiezas="{{totalpiezas}}" pedido="{{pedido}}"></consulta-producto>
              </div>

             <div class="row" hidden$={{!menupedidos}}>

                   <div class="listaHistorial">
                      <template is="dom-repeat" items="{{historial}}" as="hisPedido">
                       <div class="card col-sm-6 col-md-12 mb-3" style="width: 100%;">

                         <div class="card-header">
                           <ul class="nav nav-tabs card-header-tabs">
                              <li class="nav-item">
                                <div class="nav-link active">
                                  PEDIDO REALIZADO
                                </div>
                                <div class="nav-link active">
                                  [[hisPedido.fecha]]
                                </div>
                              </li>
                              <li class="nav-item">
                                <div class="nav-link active">
                                    TOTAL
                                </div>
                                <div class="nav-link active">
                                   [[hisPedido.total]] MXN
                                </div>
                              </li>
                              <li class="nav-item">
                                <div class="nav-link disabled">

                                </div>
                                <div class="nav-link disabled">
                                   PEDIDO Num. [[hisPedido._id]]
                                </div>
                              </li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <template is="dom-repeat" items="{{hisPedido.articulos}}" as="articulos">
                              <li style="list-style: none;"> <span> <img src="/src/resources/img/[[articulos.idProducto]].png" alt="image" style="max-width:100px;width:auto;height:auto;" /></span>
                                [[articulos.piezas]] Pza(s) de [[articulos.nombre]] a un precio de [[articulos.precio]] MXN
                              </li>
                          </template>
                        </div>

                    </div>
                    </template>
                </div>
             </div>
          </div>


      </section>


  </template>


  <script>
      class GestorProductos extends Polymer.Element {
        static get is() { return 'gestor-productos'; }

        static get properties() {
          return {
            productos: {type:Array, notify: true},
            detalle: {type: Boolean, value: false},
            email: {type: String},
            itemp: {type: String, value: 'P1234'},
            titulo: {type: String, observer: "tituloChanged"},
            pedido: {type:Array, notify: true},
            subtitulo: {type: String},
            usuario: {type: Array},
            nombre: {type: String},
            total: {type: Number, notify: true, value: 0},
            totalpiezas: {type: Number, notify: true, value: 0},
            menupedidos: {type: Boolean, value:false},
            historial: {type: Array}
          };
        }
        static get observers() {
          return ['consultaProductos(pedido)']
        }

        vaciarLista(){
          this.pedido=[];
          this.total=0;
          this.totalpiezas=0;
        }

        veproducto(e){
            //console.log('Acceso a producto: ' + e.target.name);
            this.itemp =  e.target.name;
            this.detalle = true;
            this.menupedidos = false;
            this.subtitulo = 'Selecciona las piezas que requieres'
          }

        generaCompra(){
          if (this.pedido != null) {
              var fecha = new Date();
              fecha= fecha.getDate() + "/" + (fecha.getMonth() +1) + "/" + fecha.getFullYear();
              //console.log('ya entre a funcion de pedidos')
              var pedidoData = {
                "idCliente" : this.email,
                "total" : this.total,
                "piezas" : this.totalpiezas,
                "fecha": fecha,
                "estatus": 0,
                "articulos": []
              };
              //Rellenar con los datos de los articulos

             for (var i = 0; i < this.pedido.length; i++) {
                pedidoData['articulos'].push({
                  "idProducto": this.pedido[i].idProducto,
                  "nombre": this.pedido[i].nombre,
                  "piezas": this.pedido[i].piezas,
                  "precio": this.pedido[i].precio,
                  "activo": 1
                });
              }

              console.log(pedidoData);
              this.$.doPedido.body = JSON.stringify(pedidoData);
              this.$.doPedido.generateRequest();

            }
        }

        manageAJAXResponse(e){
          const res = e.detail;
          //console.log('response', res.status, res.statusText, res);
          console.log("Respuesta recibida del servicio api rest apimx20201");
          if(res.status == 400 ){
            alert("Error al escribir en la base de datos!");
          } else {
            this.vaciarLista();
            alert("Tu pedido ha sido registrado correctamente!");
            this.$.doProductos.generateRequest();
          }
        }

         showError(e){
           const err = e.detail.error;
           const req = e.detail.request;
           console.log("Hubo un error en iron-ajax");
           alert("Error al acceder a la base de datos," + req.statusText);
           console.log('error', req.status, req.statusText);
         }

         tituloChanged(){
           var request = new XMLHttpRequest();
           if(localStorage.getItem("usuarioactivo")){
             this.email = localStorage.getItem("usuarioactivo");
             //console.log(this.email);
           }
           //console.log('entro a emailChanged');
           request.open("GET","http://localhost:3002/Usuarios/" + this.email, false);
           request.send();
           this.usuario = JSON.parse(request.responseText);
           this.nombre = this.usuario[0].nombre + ' ' +this.usuario[0].apellido
           //console.log(this.usuario[0].nombre);
         }

         consultaProductos(nuevopedido){
           if(nuevopedido != null){
              console.log("Observer por Cambios en Pedido");
           }
         }

         regresar(){
           this.detalle = false;
           this.menupedidos = false;
           this.subtitulo = "Ofertas de la Temporada";
         }

         listaPedidos(){
          this.detalle = true;
          this.menupedidos = true;
          this.subtitulo = 'Este es tú historial de pedidos'
            //Recupera el historial de pedidos
           var historicoData = {
             "email" : this.email
           };
           console.log(historicoData);
           this.historial =[];
           this.$.doHistorial.body = JSON.stringify(historicoData);
           this.$.doHistorial.generateRequest();
         }

         constructor() {
                 super();
               }
     }
     window.customElements.define(GestorProductos.is, GestorProductos);
  </script>
</dom-module>
