<dom-module id="x-custom">

  <template>
    <input value="{{searchString::input}}">

    <!-- computeFilter returns a new filter function whenever searchString changes -->
    <template is="dom-repeat" items="{{employees}}" as="employee"
        filter="{{computeFilter(searchString)}}">
        <div>{{employee.lastname}}, {{employee.firstname}}</div>
    </template>
  </template>

  <script>
      class XCustom extends Polymer.Element {

        static get is() { return 'x-custom'; }

        static get properties() {
          return {
            employees: {
              type: Array,
              value() {
                return [
                  { firstname: "Jack", lastname: "Aubrey" },
                  { firstname: "Anne", lastname: "Elliot" },
                  { firstname: "Stephen", lastname: "Maturin" },
                  { firstname: "Emma", lastname: "Elliot" }]
               }
              }
             }
            }

        computeFilter(string) {
            if (!string) {
            // set filter to null to disable filtering
            return null;
            } else {
            // return a filter function for the current search string
            string = string.toLowerCase();
            return function(employee) {
              var first = employee.firstname.toLowerCase();
              var last = employee.lastname.toLowerCase();
              console.log(string);
              return (first.indexOf(string) != -1 ||
                  last.indexOf(string) != -1);
          };
        }
      }

    }

    customElements.define(XCustom.is, XCustom);
  </script>
</dom-module>
